/*{
    box-sizing: border-box;
}
*/

.landing_section {
    position: absolute;
    height: 920px;
    left: 0px;
    right: 0px;
    top: 0px;

}
.landing_copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    position: absolute;
    width: 602px;
    height: 577px;
    left: 228px;
    top: 240px;
}
.landing_copy h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 80%;
    text-transform: uppercase;
    color: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%),
    linear-gradient(0deg, #252F3D, #252F3D);
    width: 602px;
    height: 320px;

}

.landing_copy h5{
    width: 174px;
    height: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #7C899C;

}

.landing_copy p{
    width: 523px;
    height: 54px;
    font-family: 'Montserrat';  
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #7C899C;
    flex: none;
    order: 1;
    flex-grow: 0;
}


button{
    width: 202px;
    height: 27px;
    top: 26.5px;
    left: 40px;
    background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);

}

.illustration_container {
    position: absolute;
    width: 897px;
    height: 795px;
    right: 141px;
    top: 45px;

}

.background-img {
    position: absolute;
    width: 722px;
    height: 600px;
    left: 88px;
    top: 195px;
    background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 104px;
}